div#game {
    /*background-color: pink;*/
    width: 600px;
    min-height: 500px;
    position: absolute;
    background-image: url("../images/mole-background.png");
    background-size: 600px 500px;

}

.top-section {
    padding-top: 20px;
    padding-left: 55px;
    float: left;

    /*background-color: pink;*/
}

.middle-section {
    /*clear: both;*/
    float: left;
    padding-top: 10px;
    margin-left: 25px;

    /*background-color: blue;*/
}

.bottom-section {
    float: left;
    padding-top: 10px;
    margin-left: 55px;

}

.hole-image {
    background-image: url("../images/hole.png"); width: 55px; height: 5px;
    background-repeat: no-repeat;
    width: 100%;
    height: 5px;
    vertical-align: bottom;
}

.hole-mole {
    min-height: 104px;
    position: relative;
}

.mole {
    background-image: url("../images/mole.png"); width: 55px; height: 55px;
    background-repeat: no-repeat;
    width: 112px;
    height: 104px;
    /*-webkit-transition: all 4s linear;*/
    position: absolute;

}

.hole {
    width: 112px;
    min-height: 104px;
    /*background-color: palegreen;*/
    float: left;
    margin-right: 40px;
    margin-left: 0px;
    margin-right: 15px;

}

.show-up {
    -webkit-transform: translate(50px, 50px);
}

.clear {
    clear:both;
}

.stopButton
{
    background-color:#BF0505;
    border-color:#539BCE;
    border-style:solid;
    border-width:1px;
    color:#FFFFFF;
    float:left;
    margin:3px;
    width:50px;
}

#controls {
    clear: both;
    top: 600px;
    position: relative;
}